.image-banner-section_content{
    max-width: 518px;
    position: absolute;
    top: 0;
    left: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 40px;

}

/* @media(min-width:768px){
    .image-banner-section_content{
        align-items: flex-end;
    
    }
} */

.image-banner-section{
    position: relative;
    height: 100%;
}
.image-banner-section_heading{
    color: #2D2D2D;
    font-family: Canela Trial;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.image-banner-section_text{
    color: #2D2D2D;
    font-family: Optima LT Pro;
    font-style: normal;
    font-weight: 400;
    line-height: 146%; /* 29.2px */
}
.image-banner-section_btn{
    background: #2D2D2D;
    font-family: Sharp Sans;
}



.image-banner-section_image{
    width: 100vw;
    object-fit: cover;
    min-height: 545px;
    object-position:left;
  }
@media(min-width:768px){
    .image-banner-section_image{
        object-position:center;
      }
}