@font-face {
  font-family: Canela Trial;
   src: url('/fonts/Canela-Trial.woff') format('woff2');
    font-weight: normal;
   font-display: swap;
}

@font-face {
  font-family: Cotta;
   src: url('/fonts/cotta-free.woff') format('otf');
    font-weight: normal;
   font-display: swap;
}

@font-face {
  font-family: 'Optima nova LT Pro';
  src: url('/fonts/OptimaNovaLTProRegular.woff') format('woff2');
  font-weight: normal;
   font-display: swap;
}
@font-face {
  font-family: 'Optima nova LT Pro';
  src: url('/fonts/Sharp-Sans.woff') format('woff2');
  font-weight: normal;
   font-display: swap;
}

body{
  background: #F6F6F6 !important;
}
.announcement-bar{
  background: #9F212C;
}

.announcement-bar_text{
color: #FFF;
text-align: center;
font-family: Sharp Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 100%; 
letter-spacing: 1.08px;
}


.footer-section{
  background-color: #fff;
}
.footer-links-title{
  color: #2D2D2D;
  font-family: Cotta;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.5%; /* 32.89px */
}

.footer-links-text{
  color: #686868;
  font-family: Optima LT Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 247.5%; /* 49.5px */
  text-decoration: none;
}

.footer-text{
  color: #2D2D2D;
  font-family: Optima LT Pro;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 29.4px */
}





.main-slider_item{
  position: relative;
  height: 100%;
}

.main-slider_item_content{
  max-width: 488px;
  position: absolute;
  top: 0;
  left: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 40px;  
}
.main-slider_item-section_heading{
  color: #2D2D2D;
font-family: Cotta;
}

.main-slider_item-section_text{
  color: #111;
  font-family: Optima LT Pro;
}
.main-slider-section img{
 min-height: 650px;
 width: 100vw;
 object-fit: cover;

}

