.logo-text-section{
    background: #2D2D2D;
}
.logo-text-section_item-text{
    color: #FFF;
    font-family: Optima LT Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.logo-text-section_item-text{
    max-width: 150px;
}
@media (min-width:1080px) {
    .logo-text-section_item{
        border-right: 2px solid #FFF;
        margin: auto;
    }
    .logo-text-section_item:last-child{
        border-right: none;
    }
}


